@page
@model IndexModel


<div class="container bg-light">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-light">
        <div class="col-md-6 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4" style="color:#6610f2;">Большой братик наблюдает за тобой</span>
            </a>
        </div>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-8"><input name="search" type="text" class="form-control" placeholder="Search..." aria-label="Search"></div>
                <div class="col-md-2 text-start">
                    <button type="submit" class="btn btn-outline-primary me-2">Search</button>
                </div>
            </div>         
        </form>

        @* <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2">Features</a></li>
            <li><a href="#" class="nav-link px-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul> *@

        
        
    </header>
</div>



    <div class="container">
        <div class="row">
            <div class="col-lg-6">

            @foreach (var item in Model.userki)
            {
                <div class="card" style="width: 18rem;">
                    <img src="/imgs/spdmn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 name="userochek_id" class="card-title">Id @item.Id</h5>
                        <p name="userochek_FIO" class="card-text">Name - @item.Name</p>
                        <p name="userochek_Gender" class="card-text">Gender - @item.Gender</p>
                        <a href="#" class="btn btn-primary">Show stats</a>
                    </div>
                </div>
            }
                
            </div>
        </div>
    </div>